<div class="container">
  <app-header-content contentTitle="Policy Generator"></app-header-content>
  <div class="main-content sl-flex-wrap">
    <div class="box">
      <diV class="el-result">
        <div class="policy">
          <div class="policy-content">
            <p>{{policy}}</p>
          </div>
        </div>
      </diV>
      <div class="el-input">
        <input type="file" id="filepdf" class="display-none" name="file"multiple>
        <button mat-button for="filepdf"color="primary btn-generate left-auto no-border">
          <label for="filepdf" class="pointer">
            <span class="material-icons">
              post_add
              </span>
          </label>
        </button>
        <input
          type="text"
          id="ai-input"
          name="ai-input"
          class="promt-input"
          placeholder="Enter promt here"
          [formControl]="promtInput"
          (keyup.enter)="onClickGenerate()"
        />
        <button mat-button color="primary btn-generate right-auto no-border" (click)="onClickGenerate()">
          <span class="material-icons">
            send
            </span>
        </button>
      </div>
    </div>
  </div>
</div>
