@import '../../assets/scss/variables/font.scss';
@import '../../assets/scss/variables/color.scss';

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;

  .main-content {
    margin-top: 20px;
    background-color: $background-white;

    .box {
      width: 100%;
      padding: 40px 40px;
      min-height: 60vh;
      border-radius: 20px;
      border: 1px solid #ccc;

      .el-input {
        min-height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 30px;

        .promt-input {
          display: block;
          margin-left: 0px;
          margin-right: 0px;
          width: 50%;
          height: 50px;
          padding: 0px 20px;
          box-sizing: border-box;
          color: $font-purple;
          border-radius: 20px;
          border: 1px solid #ccc;
        }

        ::-ms-input-placeholder {
          color: $font-purple;
        }

        ::placeholder {
          color: $font-purple;
          opacity: 0.6;
        }
      }

      .el-result {
        min-height: 90%;
        border: 1px solid #ccc;
        border-radius: 20px;
        margin-bottom: 20px;

        .policy {
          margin: auto;
          max-width: 1000px;

          .policy-content {
            padding: 40px 20px;
          }
        }
      }
    }
  }
}
